body{
    margin: 0;
    background-color: white;
}

.heading{
    color: black;
    text-align: center;
    background-color: lightblue;
    font-family:'Courier New', Courier, monospace;
}

.website_centre{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}