body{
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
}

header {
    color: black;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

.website_centre{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 400px;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.container{
    width: 1500px;
    margin: 0 auto;
    flex: 1;
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
}

.background{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

nav ul.no_dots{
    list-style-type: none;
}

nav ul li.no_dots:hover{
    list-style-type: none;
    background-color: aliceblue
}
