.Container {
    width: 1500px;
    margin: 0 auto;
}

nav {
    background-color: #5AA65A;
    text-align: center;
    padding: 20px;
}

a {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

nav a.splitleft{
    float: left;
}

nav a.splitright{
    float: right;
}
